body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1d3557, #457b9d, #a8dadc);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

main {
  max-width: 600px;
  margin: 150px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
}

textarea, input, select, button {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

textarea, input, select {
  background: rgba(255, 255, 255, 0.8);
  color: #1d3557;
}

/* Общий стиль кнопок */
button {
  background-color: #1d3557;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 48%; /* Ширина каждой кнопки */
  text-align: center;
}

button:hover {
  background-color: #a8dadc;
  color: #1d3557;
}

/* Контейнер для кнопок */
.button-container {
  display: flex;
  justify-content: flex-start; /* Кнопки выравнены по левому краю */
  gap: 10px; /* Отступ между кнопками */
}
.back-button {
  position: absolute; /* Абсолютное позиционирование */
  top: 10px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
  width: auto; /* Автоматическая ширина, подстраивающаяся под текст */
  padding: 5px 15px; /* Компактные отступы */
  background-color: #e63946; /* Красный цвет фона */
  color: white; /* Белый текст */
  border: none; /* Убираем рамку */
  border-radius: 5px; /* Скругленные углы */
  font-size: 17px; /* Уменьшенный размер текста */
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Небольшая тень */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #ff6b6b; /* Светло-красный цвет при наведении */
  transform: scale(1.05); /* Легкое увеличение при наведении */
}
/* Шапка с логотипом */
.dashboard-header {
    position: absolute; /* Фиксированное положение */
    top: 0;
    left: 50%; /* Центровка по горизонтали */
    transform: translateX(-50%); /* Смещение на половину ширины */
    padding: 100px 1000;
    z-index: 1000; /* Поверх других элементов */
}

/* Логотип */
.dashboard-logo {
    width: 200px; /* Увеличенный размер логотипа */
    height: auto;
}

